body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(51,36%,10%);
  background: linear-gradient(to right, hsl(51,36%,39%) 0%, hsl(51,36%,64%) 10%, hsl(51,36%,64%) 20%, hsl(51,36%,75%) 50%,hsl(51,36%,64%) 80%,hsl(51,36%,64%) 90%,hsl(51,36%,39%) 100%);

}

a, a:visited, a:active{
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
